.DS_Store
.venv*
.idea
data
parsetab.py
*.out
*.sqlite
simple
out
**/__pycache__
htmlcov
.coverage
tmp
archive
.env
vector_cache
*.zip
.env*
.batch.tokens.json
*.log
conf.
*.jsonl
*.json
!conf.json
*.patch
*.tar.gz
*.png
*.pdf
*.csv
*.txt
experimental_local