aiohttp==3.10.10
pytest==8.3.2
pytest-asyncio==0.26.0
assertpy==1.1
tqdm==4.66.5
ply==3.11
pydantic==2.9.2
pydantic-settings==2.7.1
pydantic_core==2.23.4
loguru==0.7.3
mysql-connector-python==9.2.0
diskcache==5.6.3
