@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  /*font-weight: normal;*/
}

h1 {
  font-weight: bold;
}

:root {
  --p-togglebutton-content-checked-background: green
}
.p-togglebutton {
  --p-togglebutton-content-checked-background: #2196f3 !important;
}
.p-togglebutton-checked {
  color: white !important;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.p-togglebutton-checked .p-togglebutton-content {
  background: green;
}
